.stationary {
  max-width: 1050px;
}

.stationary-text-row {
  margin-bottom: 40px;
}

.stationary-img-row {
  margin-bottom: 80px;
}

.stationary-title {
  margin-bottom: 37px;
}

.dropzone {
  position: relative;
  height: 246px;
  margin: 20px;
  border: 3px dashed #ccd0d2;
  border-radius: 0;
  box-shadow: 0 0 0 20px #f7f8fa;

  &.ngx-dz-hovered {
    &:before {
      content: '';
      position: absolute;
      top: -20px;
      left: -20px;
      z-index: 11;
      width: calc(100% + 40px);
      height: calc(100% + 40px);
      background-color: rgba(#43a5ff, 0.6);
    }
  }
}

.drop-label {
  &-icon {
    font-size: 40px;
  }

  &-text {
    margin: 5px 0 10px;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.15px;
  }

  &-button {
    border-color: #2d9cdb;
    color: #2d9cdb;

    &:hover {
      color: #fff;
      background-color: #2d9cdb;
    }
  }
}
