<div class="stationary" [formGroup]="form">
  <div class="stationary-img-row">
    <h3 class="stationary-title">Report Header Image:</h3>
    <ngx-dropzone class="dropzone" (change)="onSelect($event)">
      <ngx-dropzone-label>
        <ng-container *ngTemplateOutlet="dropLabel"></ng-container>
      </ngx-dropzone-label>
      <ngx-dropzone-preview *ngIf="reportHeaderImg" [removable]="true" (removed)="onRemoveHeader()">
        <ngx-dropzone-label
          >{{ reportHeaderImg.name }} ({{ reportHeaderImg.type }})
        </ngx-dropzone-label>
      </ngx-dropzone-preview>
    </ngx-dropzone>
  </div>

  <div class="stationary-text-row">
    <angular-editor formControlName="ReportFooterText" [config]="config"></angular-editor>
  </div>

  <div class="stationary-text-row">
    <angular-editor formControlName="OwnReportFooterText" [config]="config"></angular-editor>
  </div>

  <div class="stationary-text-row">
    <angular-editor formControlName="TenReportFooterText" [config]="config"></angular-editor>
  </div>

  <div class="stationary-img-row">
    <h3 class="stationary-title">Report Footer Image:</h3>
    <ngx-dropzone class="dropzone" (change)="onSelect($event, false)">
      <ngx-dropzone-label>
        <ng-container *ngTemplateOutlet="dropLabel"></ng-container>
      </ngx-dropzone-label>
      <ngx-dropzone-preview *ngIf="reportFooterImg" [removable]="true" (removed)="onRemoveFooter()">
        <ngx-dropzone-label
          >{{ reportFooterImg.name }} ({{ reportFooterImg.type }})
        </ngx-dropzone-label>
      </ngx-dropzone-preview>
    </ngx-dropzone>
  </div>
</div>

<div class="entity-card-form-footer">
  <ng-container *ngIf="createFlow">
    <button class="btn btn-accent" (click)="submitEvent.emit()">
      Save and continue to Next step
    </button>
    <button class="btn btn-primary" (click)="prevStepEvent.emit()">Previous step</button>
  </ng-container>
  <ng-container *ngIf="!createFlow">
    <button *ngIf="form?.disabled" class="btn btn-accent" (click)="toggleEditModeEvent.emit()">
      Edit Stationary
    </button>
    <button *ngIf="form?.enabled" class="btn btn-accent" (click)="submitEvent.emit()">
      Save Stationary
    </button>
    <button *ngIf="form?.enabled" class="btn btn-primary" (click)="toggleEditModeEvent.emit()">
      Cancel
    </button>
  </ng-container>
</div>

<ng-template #dropLabel>
  <div class="drop-label">
    <span class="material-icons-outlined drop-label-icon">cloud_upload</span>
    <div class="drop-label-text">Drag & Drop files here<br />or</div>
    <button class="btn btn-inverse drop-label-button">
      <i class="material-icons">add</i>
      <span>Browse files</span>
    </button>
  </div>
</ng-template>
