<div class="entity-card-form-body">
  <div class="entity-card-form-row">
    <mat-form-field appearance="outline">
      <mat-label>Contract</mat-label>
      <mat-select>
        <mat-option>---</mat-option>
        <mat-option value="1">3/7 Pebble Bridge Gold Estate 123</mat-option>
      </mat-select>
    </mat-form-field>

    <button class="btn btn-accent">
      <i class="material-icons-outlined">add</i>
      <span>ADD PROPERTY</span>
    </button>
  </div>

  <div class="contracts-nav">
    <h3 class="contracts-nav-title">Quick navigate to this contract’s:</h3>

    <div class="contracts-nav-list">
      <div class="contracts-nav-list-item">
        <img class="contracts-nav-img" src="assets/images/property-icon.svg" alt="" />
        <div class="contracts-nav-text">Go To Property</div>
      </div>
      <div class="contracts-nav-list-item">
        <img class="contracts-nav-img" src="assets/images/owner-icon.svg" alt="" />
        <div class="contracts-nav-text">Go To Owner</div>
      </div>
    </div>
  </div>

  <div class="entity-card-form-row">
    <mat-form-field appearance="outline">
      <mat-label>Property ID</mat-label>
      <input matInput />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Unique reference</mat-label>
      <input matInput />
    </mat-form-field>
  </div>

  <div class="entity-card-form-row">
    <mat-form-field appearance="outline">
      <mat-label>Current Gross Rent</mat-label>
      <input matInput />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Occupation Date</mat-label>
      <input matInput />
    </mat-form-field>
  </div>

  <div class="entity-card-form-row">
    <mat-form-field appearance="outline">
      <mat-label>Special Levy</mat-label>
      <input matInput />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Deposit Required</mat-label>
      <input matInput />
    </mat-form-field>
  </div>

  <div class="entity-card-form-row">
    <mat-form-field appearance="outline">
      <mat-label>Escalation Percentage, %</mat-label>
      <input matInput />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Escalation Date</mat-label>
      <input matInput />
    </mat-form-field>
  </div>

  <div class="entity-card-form-row">
    <mat-form-field appearance="outline">
      <mat-label>Sub-Agency Fee Account</mat-label>
      <input matInput />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Unique reference</mat-label>
      <input matInput />
    </mat-form-field>
  </div>

  <div class="entity-card-form-row">
    <mat-form-field appearance="outline">
      <mat-label>Mandate Start Date</mat-label>
      <input matInput />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Mandate End Date</mat-label>
      <input matInput />
    </mat-form-field>
  </div>

  <div class="entity-card-form-row">
    <mat-form-field appearance="outline">
      <mat-label>Tenant Start Date</mat-label>
      <input matInput />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Tenant End Date</mat-label>
      <input matInput />
    </mat-form-field>
  </div>

  <div class="entity-card-form-row">
    <mat-form-field appearance="outline">
      <mat-label>Mandate Instructions</mat-label>
      <input matInput />
    </mat-form-field>
  </div>

  <div class="entity-card-form-row">
    <mat-checkbox>Send Invoice on Receipt?</mat-checkbox>
  </div>

  <div class="entity-card-form-row">
    <mat-checkbox>Tenant Active</mat-checkbox>
  </div>
</div>

<div class="entity-card-form-footer">
  <ng-container *ngIf="createFlow">
    <button class="btn btn-accent" (click)="submitEvent.emit()">
      Save and continue to Next step
    </button>
    <button class="btn btn-primary" (click)="prevStepEvent.emit()">Previous step</button>
  </ng-container>
  <ng-container *ngIf="!createFlow">
    <button *ngIf="form.disabled" class="btn btn-accent" (click)="toggleEditModeEvent.emit()">
      Edit property details
    </button>
    <button *ngIf="form.enabled" class="btn btn-accent" (click)="submitEvent.emit()">
      Save property details
    </button>
    <button *ngIf="form.enabled" class="btn btn-primary">Cancel</button>
  </ng-container>
</div>
