.contracts-nav {
  margin-bottom: 10px;
  color: rgba(#000, 0.87);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;

  &-title {
    margin: 0 0 30px;
    font-size: 16px;
  }

  &-list {
    display: flex;
    align-items: flex-end;
  }

  &-list-item {
    margin-right: 36px;
    text-align: center;
  }

  &-text {
    margin-top: 5px;
  }
}
