<div class="entity-card-form-body" [formGroup]="form">
  <div class="entity-card-form-row align-center">
    <mat-form-field appearance="outline">
      <mat-label>
        TPN Agency Code for Feed
        <span *ngIf="form?.enabled" class="material-icons form-label-icon">error</span></mat-label
      >
      <input matInput />
    </mat-form-field>

    <mat-checkbox class="mb-20">TPN Feed Enabled</mat-checkbox>
  </div>

  <div class="entity-card-form-row mb-20">
    <mat-checkbox>Debit Order Collections Enabled</mat-checkbox>
  </div>

  <div class="entity-card-form-row">
    <mat-form-field appearance="outline">
      <mat-label>
        BankEPin
        <span *ngIf="form?.enabled" class="material-icons form-label-icon">error</span></mat-label
      >
      <input matInput />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>
        BankEUserName
        <span *ngIf="form?.enabled" class="material-icons form-label-icon">error</span></mat-label
      >
      <input matInput />
    </mat-form-field>
  </div>

  <div class="entity-card-form-row">
    <mat-form-field appearance="outline">
      <mat-label>
        BankEPassword
        <span *ngIf="form?.enabled" class="material-icons form-label-icon">error</span></mat-label
      >
      <input matInput />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>
        BankMerchantNumber
        <span *ngIf="form?.enabled" class="material-icons form-label-icon">error</span></mat-label
      >
      <input matInput />
    </mat-form-field>
  </div>

  <div class="entity-card-form-row">
    <mat-form-field appearance="outline">
      <mat-label>
        BankMerchantVerification
        <span *ngIf="form?.enabled" class="material-icons form-label-icon">error</span></mat-label
      >
      <input matInput />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>
        Debit Order Fee Transaction Type ID
        <span *ngIf="form?.enabled" class="material-icons form-label-icon">error</span></mat-label
      >
      <input matInput />
    </mat-form-field>
  </div>
</div>

<div class="entity-card-form-footer">
  <ng-container *ngIf="createFlow">
    <button class="btn btn-accent" (click)="submitEvent.emit()">
      Save and continue to Next step
    </button>
    <button class="btn btn-primary" (click)="prevStepEvent.emit()">Previous step</button>
  </ng-container>
  <ng-container *ngIf="!createFlow">
    <button *ngIf="form?.disabled" class="btn btn-accent" (click)="toggleEditModeEvent.emit()">
      Edit Integrations
    </button>
    <button *ngIf="form?.enabled" class="btn btn-accent" (click)="submitEvent.emit()">
      Save Integrations
    </button>
    <button *ngIf="form?.enabled" class="btn btn-primary" (click)="toggleEditModeEvent.emit()">
      Cancel
    </button>
  </ng-container>
</div>
