<div class="entity-list">
  <form class="search-form" [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>Search</mat-label>
      <input matInput formControlName="search" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Type</mat-label>
      <mat-select>
        <mat-option>---</mat-option>
        <mat-option value="one">First option</mat-option>
        <mat-option value="two">Second option</mat-option>
      </mat-select>
    </mat-form-field>
  </form>

  <table
    mat-table
    [dataSource]="tableData"
    matSort
    [matSortActive]="tableFilter.field"
    [matSortDirection]="tableFilter.direction"
    (matSortChange)="sortTable($event)"
  >
    <ng-container matColumnDef="AdminID">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Owner Number</th>
      <td mat-cell *matCellDef="let entity">{{ entity?.AdminID }}</td>
    </ng-container>

    <ng-container matColumnDef="Unit">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Business Unit</th>
      <td mat-cell *matCellDef="let entity">{{ entity?.Unit }}</td>
    </ng-container>

    <ng-container matColumnDef="ShortDescription">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Combination Description</th>
      <td mat-cell *matCellDef="let entity">{{ entity?.ShortDescription }}</td>
    </ng-container>

    <ng-container matColumnDef="Description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
      <td mat-cell *matCellDef="let entity">{{ entity?.Description }}</td>
    </ng-container>

    <ng-container matColumnDef="OriginalReference">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Reference</th>
      <td mat-cell *matCellDef="let entity">{{ entity?.OriginalReference }}</td>
    </ng-container>

    <ng-container matColumnDef="PROPADDRESS_SUBURB">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Suburb</th>
      <td mat-cell *matCellDef="let entity">{{ entity?.PROPADDRESS_SUBURB }}</td>
    </ng-container>

    <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let entity">
        <mat-icon>chevron_right</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="tableColumns; sticky: true"></tr>
    <tr
      mat-row
      class="nav-row"
      *matRowDef="let entity; columns: tableColumns"
      [routerLink]="[entity.ID]"
    ></tr>
  </table>

  <mat-paginator
    *ngIf="tableData?.length"
    [length]="total"
    [pageSize]="tableFilter.perPage"
    [pageIndex]="tableFilter.page - 1"
    [pageSizeOptions]="[10, 20, 50]"
    (page)="onPageChange($event)"
  ></mat-paginator>
</div>
