<div class="entity-card-form-body" [formGroup]="form">
  <div class="entity-card-form-row">
    <mat-form-field appearance="outline">
      <mat-label>Postal Address</mat-label>
      <textarea matInput cdkTextareaAutosize formControlName="PostalAddress"></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Residential Address</mat-label>
      <textarea matInput cdkTextareaAutosize formControlName="ResidentialAddress"></textarea>
    </mat-form-field>
  </div>
</div>

<div class="entity-card-form-footer">
  <ng-container *ngIf="createFlow">
    <button class="btn btn-accent" (click)="submitEvent.emit()">
      Save and continue to Next step
    </button>
    <button class="btn btn-primary" (click)="prevStepEvent.emit()">Previous step</button>
  </ng-container>
  <ng-container *ngIf="!createFlow">
    <button *ngIf="form?.disabled" class="btn btn-accent" (click)="toggleEditModeEvent.emit()">
      Edit address details
    </button>
    <button *ngIf="form?.enabled" class="btn btn-accent" (click)="submitEvent.emit()">
      Save address details
    </button>
    <button *ngIf="form?.enabled" class="btn btn-primary" (click)="toggleEditModeEvent.emit()">
      Cancel
    </button>
  </ng-container>
</div>
