<div class="entity-card-form-body" [formGroup]="form">
  <div class="entity-card-form-row">
    <ng-container *ngIf="createFlow">
      <mat-form-field appearance="outline">
        <mat-label>Contract</mat-label>
        <mat-select>
          <mat-option [value]="1">Select Property to link to Owner</mat-option>
        </mat-select>
      </mat-form-field>
    </ng-container>

    <ng-container *ngIf="!createFlow">
      <mat-form-field appearance="outline">
        <mat-label>VAT</mat-label>
        <input type="text" matInput formControlName="VATNumber" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>External Reference</mat-label>
        <input type="text" matInput formControlName="ExternalRef" />
      </mat-form-field>
    </ng-container>
  </div>
</div>

<div class="entity-card-form-footer">
  <ng-container *ngIf="createFlow">
    <button class="btn btn-accent" (click)="submitEvent.emit()">
      Save and continue to Next step
    </button>
    <button class="btn btn-primary" (click)="prevStepEvent.emit()">Previous step</button>
  </ng-container>
  <ng-container *ngIf="!createFlow">
    <button *ngIf="form?.disabled" class="btn btn-accent" (click)="toggleEditModeEvent.emit()">
      Edit details
    </button>
    <button *ngIf="form?.enabled" class="btn btn-accent" (click)="submitEvent.emit()">
      Save details
    </button>
    <button *ngIf="form?.enabled" class="btn btn-primary" (click)="toggleEditModeEvent.emit()">
      Cancel
    </button>
  </ng-container>
</div>
