<div class="entity-card-form-body" [formGroup]="form">
  <div class="entity-card-form-row">
    <mat-form-field appearance="outline">
      <mat-label>Property ID</mat-label>
      <input matInput formControlName="AdminID" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Property Status</mat-label>
      <input matInput formControlName="ListingStatus" />
    </mat-form-field>
  </div>

  <div class="entity-card-form-row">
    <mat-form-field appearance="outline">
      <mat-label>Property Type</mat-label>
      <input matInput formControlName="Type" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>ERF Number</mat-label>
      <input matInput formControlName="ErfNumber" />
    </mat-form-field>
  </div>
</div>

<div class="entity-card-form-footer">
  <ng-container *ngIf="createFlow">
    <button class="btn btn-accent" (click)="submitEvent.emit()">
      Save and continue to Next step
    </button>
  </ng-container>
  <ng-container *ngIf="!createFlow">
    <button *ngIf="form?.disabled" class="btn btn-accent" (click)="toggleEditModeEvent.emit()">
      Edit Property details
    </button>
    <button *ngIf="form?.enabled" class="btn btn-accent" (click)="submitEvent.emit()">
      Save Property details
    </button>
    <button *ngIf="form?.enabled" class="btn btn-primary" (click)="toggleEditModeEvent.emit()">
      Cancel
    </button>
  </ng-container>
</div>
