<div class="company-select">
  <div class="company">
    <span class="company-logo material-icons">home</span>
    <span class="company-name">Rental managing system</span>
  </div>

  <span class="company-select-arrow material-icons">expand_more</span>
</div>
