@import 'variables';

:host {
  display: block;
  flex: 0 0 auto;
  margin: 0 30px;
}

.company-select {
  position: relative;
  padding: 10px 50px 10px 15px;
  border-radius: 15px;
  border: 1px solid #e5e5e5;
}

.company-select-arrow {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.company {
  display: flex;
  align-items: center;
}

.company-name {
  color: #000;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.company-logo {
  margin: -5px 10px -5px 0;
  padding: 4px;
  border: 2px solid $accent-color;
  border-radius: 10px;
  color: $accent-color;
  font-size: 16px;
}
