<div class="auth">
  <div class="auth-components">
    <div class="auth-logo">
      <span class="material-icons auth-logo-icon">cloud</span>
      Property Suite
    </div>
    <router-outlet></router-outlet>
  </div>
  <div class="auth-titles">
    <h1 class="auth-caption">Welcome to property suite</h1>
    <h1 class="auth-subtitle">Let's have a productive day</h1>
  </div>
</div>
