@import 'variables';

.auth {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  padding-top: 10%;
  background-color: $secondary-color;
}

.auth-components {
  flex: 0 0 400px;
  margin-right: 60px;
  padding: 40px;
  border-radius: 25px;
  background-color: #fff;
}

.auth-logo {
  display: flex;
  width: max-content;
  margin: 20px auto;
  color: #000;
  font-size: 24px;
  line-height: 28px;
}

.auth-logo-icon {
  margin-right: 6px;
  color: $main-color;
  font-size: 32px;
}

.auth-titles {
  flex-shrink: 1;
}

.auth-caption {
  margin: 0;
  font-weight: 400;
  font-size: 40px;
  line-height: 42px;
  text-transform: uppercase;
}

.auth-subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}
