<h3 class="login-title">Login</h3>
<h4 class="login-subtitle">login to continue access</h4>
<form [formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label>
      Username
      <span class="material-icons form-label-icon">error</span>
    </mat-label>
    <input matInput formControlName="sUserName" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>
      Password
      <span class="material-icons form-label-icon">error</span>
    </mat-label>
    <input matInput type="password" formControlName="sPassword" />
  </mat-form-field>

  <button class="btn" (click)="submit()">LOGIN</button>

  <div *ngIf="showLoginError">{{ errorText }}</div>
</form>
