@import 'variables';

.login-title {
  margin: 0 0 10px;
  color: rgba(#000, 0.6);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.login-subtitle {
  margin: 0 0 10px;
  color: rgba(#000, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
