<div class="entity-card">
  <div class="entity-card-back" *ngIf="entity">
    <app-back-button [text]="'Back to Units List'"></app-back-button>
  </div>
  <div class="entity-card-head" *ngIf="entity">
    <div class="entity-card-head-info">
      <div class="entity-card-head-item"><strong>System Nr.:</strong> TEN00047</div>
      <div class="entity-card-head-item"><strong>Username:</strong> Corne</div>
      <div class="entity-card-head-item"><strong>Email:</strong> corne@gmail.com</div>
    </div>
  </div>

  <form class="entity-card-form" [formGroup]="form" disabled="editMode">
    <mat-accordion [multi]="true" #accordion="matAccordion">
      <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
        <mat-expansion-panel-header>
          <mat-panel-title>Business Unit Details</mat-panel-title>
        </mat-expansion-panel-header>

        <app-unit-details
          [form]="form"
          [createFlow]="createFlow"
          (submitEvent)="submit()"
          (toggleEditModeEvent)="toggleEditMode()"
        ></app-unit-details>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)">
        <mat-expansion-panel-header>
          <mat-panel-title>Stationary</mat-panel-title>
        </mat-expansion-panel-header>

        <app-stationary-details
          [form]="form"
          [createFlow]="createFlow"
          (submitEvent)="submit()"
          (toggleEditModeEvent)="toggleEditMode()"
          (prevStepEvent)="prevStep()"
        ></app-stationary-details>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)">
        <mat-expansion-panel-header>
          <mat-panel-title>Accounting</mat-panel-title>
        </mat-expansion-panel-header>

        <app-accounting-details
          [form]="form"
          [createFlow]="createFlow"
          (submitEvent)="submit()"
          (toggleEditModeEvent)="toggleEditMode()"
          (prevStepEvent)="prevStep()"
        ></app-accounting-details>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)">
        <mat-expansion-panel-header>
          <mat-panel-title>Integrations</mat-panel-title>
        </mat-expansion-panel-header>

        <app-integrations-details
          [form]="form"
          [createFlow]="createFlow"
          (submitEvent)="submit()"
          (toggleEditModeEvent)="toggleEditMode()"
          (prevStepEvent)="prevStep()"
        ></app-integrations-details>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)">
        <mat-expansion-panel-header>
          <mat-panel-title>Advanced</mat-panel-title>
        </mat-expansion-panel-header>

        <app-advanced-details
          [form]="form"
          [createFlow]="createFlow"
          (submitEvent)="submit()"
          (toggleEditModeEvent)="toggleEditMode()"
        ></app-advanced-details>
      </mat-expansion-panel>
    </mat-accordion>
  </form>
</div>
