@import 'variables';

%link {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  cursor: pointer;
}

%corner {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

%icon {
  margin-right: 4px;
}

.module-nav {
  padding-top: 19px;

  &-link {
    @extend %link;
    padding: 12px 10px 12px 19px;
    color: #fff;

    &.disabled {
      pointer-events: none;
      color: #dedede;
    }

    &.active-module,
    &.opened {
      color: rgba(#000, 0.87);
      background-color: #fff;
    }

    &.opened + .submodule-nav {
      max-height: 400px;
      transition: max-height 0.5s 0.1s;
    }
  }

  &-icon {
    @extend %icon;
    color: #fff;

    .disabled & {
      color: #dedede;
    }

    .active-module & {
      color: #000;
    }
  }
}

.submodule-nav {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s;

  &-link {
    @extend %link;
    padding: 12px 15px 12px 47px;
    color: rgba(#000, 0.87);
    background-color: $secondary-color;

    &.active-page {
      &:after {
        @extend %corner;
        z-index: 1;
        border: 23px solid transparent;
        border-right: 23px solid #f2f2f2;
      }

      &:before {
        @extend %corner;
        z-index: 2;
        border: 22px solid transparent;
        border-right: 22px solid #fff;
      }
    }
  }

  &-icon {
    @extend %icon;
    position: absolute;
    top: 12px;
    left: 39px;
    transform: translateX(-100%);
  }
}
