<ul class="module-nav">
  <li *ngFor="let module of links" class="module-nav-item">
    <a
      *ngIf="!module?.children; else extendedModule"
      [routerLink]="module.path"
      routerLinkActive="active-module"
      class="module-nav-link"
    >
      {{ module.title }}
    </a>

    <ng-template #extendedModule>
      <div
        class="module-nav-link"
        [ngClass]="{opened: module.path === openedModule}"
        (click)="openModule($event, module.path)"
      >
        {{ module.title }}
      </div>

      <ul *ngIf="module?.children?.length" class="submodule-nav">
        <li *ngFor="let child of module.children" class="submodule-nav-item">
          <a
            [routerLink]="[module.path, child.path]"
            routerLinkActive="active-page"
            class="submodule-nav-link"
          >
            <span *ngIf="child?.iconClass" class="material-icons submodule-nav-icon">
              {{ child.iconClass }}
            </span>
            {{ child.title }}
          </a>
        </li>
      </ul>
    </ng-template>
  </li>

  <!--  wizard module-->
  <li *ngIf="showWizard" routerLinkActive="active-module" class="module-nav-item">
    <a class="module-nav-link disabled">
      <mat-icon class="module-nav-icon" svgIcon="wand"></mat-icon>
      Wizard
    </a>
  </li>
</ul>
