<ng-container *ngIf="!createFlow">
  <div class="entity-card-form-body">
    <div class="entity-card-form-row">
      <mat-form-field appearance="outline">
        <mat-label>Contract</mat-label>
        <mat-select>
          <mat-option>---</mat-option>
          <mat-option value="1">3/7 Pebble Bridge Gold Estate 123</mat-option>
          <mat-option value="2">Ms</mat-option>
          <mat-option value="3">Miss</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <mat-checkbox>Prefer Printed Statement</mat-checkbox>
    </div>

    <div class="title-row">
      <h3>Debit Orders</h3>
      <button class="btn btn-accent">
        <i class="material-icons-outlined">add</i>
        <span>ADD MANDATE</span>
      </button>
    </div>

    <table mat-table [dataSource]="debitOrdersData">
      <ng-container matColumnDef="AdminID">
        <th mat-header-cell *matHeaderCellDef>Contract No</th>
        <td mat-cell *matCellDef="let entity"></td>
      </ng-container>

      <ng-container matColumnDef="Tenant">
        <th mat-header-cell *matHeaderCellDef>Tenant</th>
        <td mat-cell *matCellDef="let entity"></td>
      </ng-container>

      <ng-container matColumnDef="Amount">
        <th mat-header-cell *matHeaderCellDef>Amount</th>
        <td mat-cell *matCellDef="let entity"></td>
      </ng-container>

      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let entity"></td>
      </ng-container>

      <ng-container matColumnDef="Tracking">
        <th mat-header-cell *matHeaderCellDef>Tracking</th>
        <td mat-cell *matCellDef="let entity"></td>
      </ng-container>

      <ng-container matColumnDef="Active">
        <th mat-header-cell *matHeaderCellDef>Active</th>
        <td mat-cell *matCellDef="let entity"></td>
      </ng-container>

      <ng-container matColumnDef="DebitDate">
        <th mat-header-cell *matHeaderCellDef>Debit Date</th>
        <td mat-cell *matCellDef="let entity"></td>
      </ng-container>

      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let entity">
          <mat-icon>chevron_right</mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="debitOrdersColumns"></tr>
      <tr mat-row class="nav-row" *matRowDef="let entity; columns: debitOrdersColumns"></tr>
    </table>
  </div>

  <div class="entity-card-form-footer">
    <button class="btn btn-accent">Edit Advanced Tenant Settings</button>
  </div>
</ng-container>
