<div class="entity-card-form-body" [formGroup]="form">
  <div class="entity-card-form-row">
    <mat-form-field appearance="outline">
      <mat-label>
        Business Unit ID
        <span *ngIf="form?.enabled" class="material-icons form-label-icon">error</span></mat-label
      >
      <input matInput />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>
        Complex Address
        <span *ngIf="form?.enabled" class="material-icons form-label-icon">error</span></mat-label
      >
      <input matInput />
    </mat-form-field>
  </div>

  <div class="entity-card-form-row">
    <mat-form-field appearance="outline">
      <mat-label>
        Business Settings
        <span *ngIf="form?.enabled" class="material-icons form-label-icon">error</span>
      </mat-label>
      <input matInput />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>
        Complex Address
        <span *ngIf="form?.enabled" class="material-icons form-label-icon">error</span>
      </mat-label>
      <input matInput />
    </mat-form-field>
  </div>

  <div class="entity-card-form-row">
    <mat-checkbox>Business Unit Active</mat-checkbox>
  </div>
</div>

<div class="entity-card-form-footer">
  <ng-container *ngIf="createFlow">
    <button class="btn btn-accent" (click)="submitEvent.emit()">
      Save and continue to Next step
    </button>
  </ng-container>
  <ng-container *ngIf="!createFlow">
    <button *ngIf="form?.disabled" class="btn btn-accent" (click)="toggleEditModeEvent.emit()">
      Edit Business Unit details
    </button>
    <button *ngIf="form?.enabled" class="btn btn-accent" (click)="submitEvent.emit()">
      Save Business Unit details
    </button>
    <button *ngIf="form?.enabled" class="btn btn-primary" (click)="toggleEditModeEvent.emit()">
      Cancel
    </button>
  </ng-container>
</div>
