*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

picture,
figure,
header,
main,
footer {
  display: block;
}

html {
  height: 100%;
}

body {
  position: relative;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  font-weight: 400;
}

.page-container {
  padding: 40px 40px 20px;
}
