@import 'variables';

%btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:disabled {
    opacity: 0.2;
  }
}

.btn {
  @extend %btn;

  min-width: 90px;
  height: 48px;
  padding: 10px 18px;
  border-radius: 25px;
  border-color: transparent;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  line-height: 20px;
  background-color: $main-color;

  i {
    & + span {
      margin-left: 6px;
    }
  }

  span {
    & + i {
      margin-left: 6px;
    }
  }

  &-accent {
    color: rgba(#000, 0.87);
    background-color: $accent-color;

    &:hover {
      color: #fff;
      background-color: $main-color;
    }
  }

  &-primary {
    background-color: #4f4f4f;

    &:hover {
      border: 1px solid #4f4f4f;
      color: #4f4f4f;
      background-color: #fff;
    }
  }

  &-inverse {
    border: 1px solid #4f4f4f;
    color: #4f4f4f;
    background-color: #fff;

    &:hover {
      border-color: #4f4f4f;
      color: #fff;
      background-color: #4f4f4f;
    }
  }

  &-basic {
    height: auto;
    padding: 0;
    border: 0;
    color: rgba(#000, 0.87);
    font-size: 16px;
    line-height: 24px;
    text-transform: none;
    background-color: transparent;

    &:hover {
      color: $main-color;
    }
  }
}

.btn-icon {
  @extend %btn;

  padding: 8px;
  border: none;
  background-color: transparent;
}
