@mixin font-face(
  $font-family,
  $file-path,
  $weight: normal,
  $style: normal,
  $asset-pipeline: false
) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;

    @if $asset-pipeline == true {
      src: url('#{$file-path}.woff2') format('woff2'), url('#{$file-path}.woff') format('woff'),
        url('#{$file-path}.ttf') format('truetype');
    } @else {
      src: url('#{$file-path}.woff2') format('woff2'), url('#{$file-path}.woff') format('woff'),
        url('#{$file-path}.ttf') format('truetype');
    }
  }
}

@include font-face('Roboto', './../assets/fonts/Roboto-Light', 300);
@include font-face('Roboto', './../assets/fonts/Roboto-Regular', 400);
@include font-face('Roboto', './../assets/fonts/Roboto-Medium', 500);
@include font-face('Roboto', './../assets/fonts/Roboto-Bold', 700);
