.form-label-icon {
  font-size: 14px;
  vertical-align: top;
}

// Fields
.mat-form-field {
  display: block;
  width: 100%;
  max-width: 350px;
}

.mat-form-field-wrapper {
  padding-bottom: 20px;
}

//Checkboxes
.mat-checkbox {
  // Input rect
  .mat-checkbox-frame {
    border-color: #333;
  }

  //Click effect
  .mat-checkbox-ripple {
    display: none !important;
  }

  //Checked state
  &.mat-checkbox-checked {
    .mat-checkbox-background {
      background-color: #333 !important;
    }
  }

  //Disabled  state
  &.mat-checkbox-disabled {
    .mat-checkbox-frame {
      border-color: #bdbdbd;
    }

    //Checked state
    &.mat-checkbox-checked {
      .mat-checkbox-background {
        background-color: #bdbdbd !important;
      }
    }
  }
}

// Radio buttons
.mat-radio-button {
  //Click effect
  .mat-radio-ripple {
    display: none !important;
  }

  .mat-radio-outer-circle {
    border-color: #333 !important;
  }

  &.mat-radio-checked {
    .mat-radio-inner-circle {
      background-color: #333 !important;
    }
  }
}

.mat-form-field-subscript-wrapper {
  margin-top: 4px;
  padding: 0 !important;
}
