.entity-card {
  padding: 40px 40px 20px;

  &-back {
    margin-bottom: 20px;
    margin-left: -8px;
  }

  &-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  &-head-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-head-item {
    &#{ + &} {
      margin-left: 40px;
    }
  }

  &-form-body {
    margin-bottom: 20px;
  }

  &-form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 32px;
    align-items: start;
    max-width: 700px;

    &.align-center {
      align-items: center;
    }
  }

  &-form-footer {
    margin-top: 19px;

    .btn + .btn {
      margin-left: 32px;
    }
  }
}
