.entity-list {
  padding: 30px 40px 20px;
}

.search-form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  align-items: center;
}

.radio-group {
  grid-column: span 2;
  margin-bottom: 20px;
}

.radio-item {
  &#{ + &} {
    margin-left: 20px;
  }
}
