.list-filter {
  margin-top: 40px;

  &-body {
    display: grid;
    grid-template-columns: 350px 350px 1fr;
    grid-column-gap: 30px;
    padding: 30px 20px;
    margin-bottom: 60px;
  }

  &-item {
    display: grid;
    grid-template-columns: 140px 1fr;
    grid-column-gap: 10px;
    color: rgba(0, 0, 0, 0.87);
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.15px;

    &#{ + &} {
      margin-top: 20px;
    }
  }

  &-label {
    font-weight: 700;
  }

  &-footer {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    border: 1px solid rgba(196, 196, 196, 0.38);
  }

  &-terms {
    max-width: 400px;
    color: rgba(0, 0, 0, 0.87);
    font-weight: 300;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.15px;
  }

  &-actions {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: -10px;

    .btn {
      margin: 10px;
    }
  }
}
