.modal {
  &-header {
    position: relative;
    padding: 10px 40px 10px 20px;
  }

  &-title {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
  }

  &-close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }

  &-body {
    padding: 10px 20px 10px;
  }

  &-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 20px;

    .btn + .btn {
      margin-left: 20px;
    }
  }
}
