.mat-table {
  width: 100%;
}

.mat-row {
  height: 60px !important;

  &:nth-child(even) {
    background-color: #f9f9f9;
  }

  &.nav-row {
    cursor: pointer;
  }
}

.mat-header-cell {
  padding: 5px 15px !important;
  border-bottom-color: #e0e0e0 !important;
  border-top: 1px solid #e0e0e0 !important;
  color: #2b2b2b;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
}

.mat-cell {
  padding: 5px 10px !important;
  border: 0 !important;
  color: #2b2b2b;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;

  &.mat-column-Action {
    padding: 5px !important;
    color: #828282;
  }
}
