<div class="entity-card-form-body" [formGroup]="form">
  <div class="entity-card-form-row">
    <mat-form-field appearance="outline">
      <mat-label>Listing Agent Name</mat-label>
      <input matInput formControlName="ListingAgent" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Listing Agent Email</mat-label>
      <input matInput formControlName="AgentEMail" />
    </mat-form-field>
  </div>

  <div class="entity-card-form-row">
    <mat-form-field appearance="outline">
      <mat-label>Listing Agent Phone 1</mat-label>
      <input matInput formControlName="AgentPhone1" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Listing Agent Phone 2</mat-label>
      <input matInput formControlName="AgentPhone2" />
    </mat-form-field>
  </div>

  <div class="entity-card-form-row">
    <mat-form-field appearance="outline">
      <mat-label>Listing Agent SMS</mat-label>
      <input matInput formControlName="AgentSMSNumber" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Listing Date Available</mat-label>
      <input
        matInput
        [matDatepicker]="sPicker"
        (focus)="sPicker.open()"
        formControlName="DATEAVAILABLE"
        readonly
      />
      <mat-datepicker-toggle matSuffix [for]="sPicker"></mat-datepicker-toggle>
      <mat-datepicker #sPicker></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="entity-card-form-row">
    <mat-form-field appearance="outline">
      <mat-label>Expiry Date</mat-label>
      <input matInput [matDatepicker]="picker" (focus)="picker.open()" readonly disabled />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
</div>

<div class="entity-card-form-footer">
  <ng-container *ngIf="createFlow">
    <button class="btn btn-accent" (click)="submitEvent.emit()">
      Save and continue to Next step
    </button>
  </ng-container>
  <ng-container *ngIf="!createFlow">
    <button *ngIf="form?.disabled" class="btn btn-accent" (click)="toggleEditModeEvent.emit()">
      Edit LISTING agent details
    </button>
    <button *ngIf="form?.enabled" class="btn btn-accent" (click)="submitEvent.emit()">
      SAVE LISTING agent details
    </button>
    <button *ngIf="form?.enabled" class="btn btn-primary" (click)="toggleEditModeEvent.emit()">
      Cancel
    </button>
  </ng-container>
</div>
