<div class="entity-card-form-body" [formGroup]="form">
  <div class="entity-card-form-row">
    <mat-form-field appearance="outline">
      <mat-label>Bedrooms</mat-label>
      <input matInput formControlName="BEDROOM" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Entrance halls</mat-label>
      <input matInput formControlName="ENTRANCEHALL" />
    </mat-form-field>
  </div>

  <div class="entity-card-form-row">
    <mat-form-field appearance="outline">
      <mat-label>Bathrooms</mat-label>
      <input matInput formControlName="BATHROOM" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Toilets</mat-label>
      <input matInput formControlName="TOILETS" />
    </mat-form-field>
  </div>

  <div class="entity-card-form-row">
    <mat-form-field appearance="outline">
      <mat-label>Study</mat-label>
      <input matInput formControlName="STUDY" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Store Room</mat-label>
      <input matInput formControlName="STOREROOM" />
    </mat-form-field>
  </div>

  <div class="entity-card-form-row">
    <mat-form-field appearance="outline">
      <mat-label>Family rooms</mat-label>
      <input matInput formControlName="FAMILYROOM" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Dining rooms</mat-label>
      <input matInput formControlName="DININGROOM" />
    </mat-form-field>
  </div>

  <div class="entity-card-form-row">
    <mat-form-field appearance="outline">
      <mat-label>Kitchen</mat-label>
      <input matInput formControlName="KITCHEN" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Enclosed Garage</mat-label>
      <input matInput formControlName="ENCLOSEDGARAGE" />
    </mat-form-field>
  </div>

  <div class="entity-card-form-row">
    <mat-form-field appearance="outline">
      <mat-label>Ancillary Quarters</mat-label>
      <input matInput formControlName="ANCILLARYQ" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Ancillary Toilets</mat-label>
      <input matInput formControlName="ANCILLARYT" />
    </mat-form-field>
  </div>

  <div class="entity-card-form-row">
    <mat-form-field appearance="outline">
      <mat-label>Original Reference</mat-label>
      <input matInput formControlName="OriginalReference" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Deposit Required</mat-label>
      <input matInput formControlName="ListingDepositRequired" />
    </mat-form-field>
  </div>

  <div class="entity-card-form-row">
    <mat-form-field appearance="outline">
      <mat-label>Property Valuation</mat-label>
      <input matInput formControlName="Valuation" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Listing Target Rent</mat-label>
      <input matInput formControlName="ListingRental" />
    </mat-form-field>
  </div>
</div>

<div class="entity-card-form-footer">
  <ng-container *ngIf="createFlow">
    <button class="btn btn-accent" (click)="submitEvent.emit()">
      Save and continue to Next step
    </button>
  </ng-container>
  <ng-container *ngIf="!createFlow">
    <button *ngIf="form?.disabled" class="btn btn-accent" (click)="toggleEditModeEvent.emit()">
      Edit LISTING details
    </button>
    <button *ngIf="form?.enabled" class="btn btn-accent" (click)="submitEvent.emit()">
      SAVE LISTING details
    </button>
    <button *ngIf="form?.enabled" class="btn btn-primary" (click)="toggleEditModeEvent.emit()">
      Cancel
    </button>
  </ng-container>
</div>
