<div class="profile">
  <div class="profile-icon" [matMenuTriggerFor]="beforeMenu">PS</div>

  <mat-menu #beforeMenu="matMenu" xPosition="before" [classList]="'profile-menu'">
    <div class="profile-info">
      <div class="profile-logo"><span class="material-icons">home</span></div>
      <div class="profile-company">AE Rental Management</div>
      <div class="profile-name">Pieter Gerber</div>
      <div class="profile-id">User 225975</div>
    </div>

    <ul class="profile-actions">
      <li *ngFor="let action of actions" class="profile-actions-item">
        <a [routerLink]="action.path" class="profile-actions-link">
          <mat-icon class="profile-actions-icon">{{ action.iconClass }}</mat-icon>
          {{ action.title }}
        </a>
      </li>
      <li class="profile-actions-item">
        <a [routerLink]="'auth'" class="profile-actions-link">
          <mat-icon class="profile-actions-icon">exit_to_app</mat-icon>
          Log Out
        </a>
      </li>
    </ul>
  </mat-menu>
</div>
