@import 'variables';

.profile {
  position: relative;
}

.profile-menu {
  margin-top: 24px;
  width: 292px;
  max-width: 292px !important;
  border-radius: 10px !important;
}

.profile-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  background-color: $main-color;
  cursor: pointer;
}

.profile-info {
  padding: 10px 30px;
  border-bottom: 1px solid rgba(#212121, 0.08);
  text-align: center;
}

.profile-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 84px;
  height: 84px;
  margin: 0 auto 10px;
  padding: 10px;
  border-radius: 50%;
  background-color: $accent-color;

  .material-icons {
    font-size: 42px;
  }
}

.profile-company {
  color: rgba(#000, 0.87);
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.15px;
}

.profile-name,
.profile-id {
  color: rgba(#000, 0.6);
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
}

.profile-id {
  font-weight: 700;
}

.profile-actions-link {
  display: flex;
  align-items: center;
  padding: 14px 30px;
  color: rgba(#000, 0.6);
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: #fff;
    background-color: $accent-color;
  }
}

.profile-actions-icon {
  margin-right: 8px;
  color: #000;
}
