<header class="header-inner">
  <button class="btn-icon">
    <i class="material-icons">menu</i>
  </button>

  <app-companies></app-companies>

  <ul class="menu">
    <li class="menu-item" *ngFor="let link of links">
      <a
        [routerLink]="link.path"
        class="menu-link"
        [routerLinkActive]="'active'"
        [title]="link.title"
      >
        <span *ngIf="link.iconClass" class="material-icons-outlined menu-link-icon">
          {{ link.iconClass }}
        </span>
        <span class="menu-link-text">{{ link.title }}</span>
      </a>
    </li>
  </ul>

  <app-profile></app-profile>
</header>
