@import 'variables';

.header-inner {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 20px;
}

.menu {
  display: flex;
  flex: 1 1 100%;
}

.menu-link {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 25px;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  text-decoration: none;

  &.active {
    color: #fff;
    background-color: $main-color;
  }
}

.menu-link-icon {
  margin-right: 5px;
}
