<div class="entity-card-form-body" [formGroup]="form" xmlns="http://www.w3.org/1999/html">
  <div class="entity-card-form-row">
    <mat-form-field appearance="outline">
      <mat-label>
        Default VAT Account
        <span *ngIf="form?.enabled" class="material-icons form-label-icon">error</span></mat-label
      >
      <input matInput />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>
        VAT Number
        <span *ngIf="form?.enabled" class="material-icons form-label-icon">error</span></mat-label
      >
      <input matInput />
    </mat-form-field>
  </div>

  <div class="entity-card-form-row">
    <mat-form-field appearance="outline">
      <mat-label>
        Default Rent Account
        <span *ngIf="form?.enabled" class="material-icons form-label-icon">error</span></mat-label
      >
      <input matInput />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>
        Default Levy Account
        <span *ngIf="form?.enabled" class="material-icons form-label-icon">error</span></mat-label
      >
      <input matInput />
    </mat-form-field>
  </div>

  <div class="entity-card-form-row">
    <mat-form-field appearance="outline">
      <mat-label>
        Default Agency Fee Account
        <span *ngIf="form?.enabled" class="material-icons form-label-icon">error</span></mat-label
      >
      <textarea matInput cdkTextareaAutosize></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>
        Default Special Levy Account
        <span *ngIf="form?.enabled" class="material-icons form-label-icon">error</span></mat-label
      >
      <input matInput />
    </mat-form-field>
  </div>

  <div class="entity-card-form-row">
    <mat-form-field appearance="outline">
      <mat-label>
        Financial Year End
        <span *ngIf="form?.enabled" class="material-icons form-label-icon">error</span></mat-label
      >
      <input matInput />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>
        Default Management Agent Supplier Account
        <span *ngIf="form?.enabled" class="material-icons form-label-icon">error</span></mat-label
      >
      <textarea matInput cdkTextareaAutosize></textarea>
    </mat-form-field>
  </div>

  <div class="entity-card-form-row">
    <mat-form-field appearance="outline">
      <mat-label>
        Overdue threshold for Interest
        <span *ngIf="form?.enabled" class="material-icons form-label-icon">error</span></mat-label
      >
      <input matInput />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>
        Current Month
        <span *ngIf="form?.enabled" class="material-icons form-label-icon">error</span></mat-label
      >
      <input matInput />
    </mat-form-field>
  </div>

  <div class="entity-card-form-row">
    <mat-form-field appearance="outline">
      <mat-label>
        Financial Year Start
        <span *ngIf="form?.enabled" class="material-icons form-label-icon">error</span></mat-label
      >
      <input matInput />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>
        Interest rate on overdue accounts:
        <span *ngIf="form?.enabled" class="material-icons form-label-icon">error</span></mat-label
      >
      <input matInput />
    </mat-form-field>
  </div>

  <div class="entity-card-form-row">
    <mat-form-field appearance="outline">
      <mat-label>
        Complex Bank Reference
        <span *ngIf="form?.enabled" class="material-icons form-label-icon">error</span></mat-label
      >
      <input matInput />
    </mat-form-field>
  </div>
</div>

<div class="entity-card-form-footer">
  <ng-container *ngIf="createFlow">
    <button class="btn btn-accent" (click)="submitEvent.emit()">
      Save and continue to Next step
    </button>
    <button class="btn btn-primary" (click)="prevStepEvent.emit()">Previous step</button>
  </ng-container>
  <ng-container *ngIf="!createFlow">
    <button *ngIf="form?.disabled" class="btn btn-accent" (click)="toggleEditModeEvent.emit()">
      Edit Accounting details
    </button>
    <button *ngIf="form?.enabled" class="btn btn-accent" (click)="submitEvent.emit()">
      Save Accounting details
    </button>
    <button *ngIf="form?.enabled" class="btn btn-primary" (click)="toggleEditModeEvent.emit()">
      Cancel
    </button>
  </ng-container>
</div>
