<div class="entity-list">
  <form class="search-form" [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>Search</mat-label>
      <input matInput formControlName="search" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Status</mat-label>
      <mat-select>
        <mat-option>---</mat-option>
        <mat-option value="one">First option</mat-option>
        <mat-option value="two">Second option</mat-option>
      </mat-select>
    </mat-form-field>
  </form>

  <table
    mat-table
    [dataSource]="tableData"
    matSort
    [matSortActive]="tableFilter.field"
    [matSortDirection]="tableFilter.direction"
    (matSortChange)="sortTable($event)"
  >
    <ng-container matColumnDef="AdminID">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Tenant Number</th>
      <td mat-cell *matCellDef="let entity">{{ entity?.AdminID }}</td>
    </ng-container>

    <ng-container matColumnDef="Surname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Surname</th>
      <td mat-cell *matCellDef="let entity">{{ entity?.Surname | uppercase }}</td>
    </ng-container>

    <ng-container matColumnDef="Firstname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
      <td mat-cell *matCellDef="let entity">{{ entity?.Firstname | uppercase }}</td>
    </ng-container>

    <ng-container matColumnDef="EmailAddress">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell *matCellDef="let entity">{{ entity?.EmailAddress }}</td>
    </ng-container>

    <ng-container matColumnDef="MobilePHone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Contacts Number</th>
      <td mat-cell *matCellDef="let entity">{{ entity?.MobilePHone }}</td>
    </ng-container>

    <ng-container matColumnDef="property">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Property</th>
      <td mat-cell *matCellDef="let entity">{{ entity?.Properties?.Name }}</td>
    </ng-container>

    <ng-container matColumnDef="propertyNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Property Number</th>
      <td mat-cell *matCellDef="let entity">{{ entity?.Properties?.AdminID }}</td>
    </ng-container>

    <ng-container matColumnDef="propertyType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Levy</th>
      <td mat-cell *matCellDef="let entity">Levy:</td>
    </ng-container>

    <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let entity">
        <mat-icon>chevron_right</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="tableColumns; sticky: true"></tr>
    <tr
      mat-row
      class="nav-row"
      *matRowDef="let entity; columns: tableColumns"
      [routerLink]="[entity.ID]"
    ></tr>
  </table>

  <mat-paginator
    *ngIf="tableData?.length"
    [length]="total"
    [pageSize]="tableFilter.perPage"
    [pageIndex]="tableFilter.page - 1"
    [pageSizeOptions]="[10, 20, 50]"
    (page)="onPageChange($event)"
  ></mat-paginator>
</div>
