<div class="entity-list">
  <form class="search-form" [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>Search</mat-label>
      <input matInput formControlName="search" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Type</mat-label>
      <mat-select>
        <mat-option>---</mat-option>
        <mat-option value="one">First option</mat-option>
        <mat-option value="two">Second option</mat-option>
      </mat-select>
    </mat-form-field>
  </form>

  <table
    mat-table
    [dataSource]="tableData"
    matSort
    [matSortActive]="tableFilter.field"
    [matSortDirection]="tableFilter.direction"
    (matSortChange)="sortTable($event)"
  >
    <ng-container matColumnDef="AdminID">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let entity">{{ entity?.AdminID }}</td>
    </ng-container>

    <ng-container matColumnDef="Reference">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Business Unit Reference</th>
      <td mat-cell *matCellDef="let entity">{{ entity?.Reference }}</td>
    </ng-container>

    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Business Unit Name</th>
      <td mat-cell *matCellDef="let entity">{{ entity?.Name }}</td>
    </ng-container>

    <ng-container matColumnDef="Type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Business Unit Type</th>
      <td mat-cell *matCellDef="let entity">{{ entity?.Type }}</td>
    </ng-container>

    <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let entity">
        <mat-icon>chevron_right</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="tableColumns; sticky: true"></tr>
    <tr
      class="nav-row"
      mat-row
      *matRowDef="let entity; columns: tableColumns"
      [routerLink]="[entity?.ID]"
    ></tr>
  </table>

  <mat-paginator
    [length]="total"
    [pageSize]="tableFilter.perPage"
    [pageIndex]="tableFilter.page - 1"
    [pageSizeOptions]="[10, 20, 50]"
    (page)="onPageChange($event)"
  >
  </mat-paginator>
</div>
