@import 'variables';

.content-wrap {
  display: flex;
  height: 100%;
}

.sidebar {
  flex: 0 0 207px;
  border-right: 1px solid #f2f2f2;
  background-color: $main-color;
}

.content {
  flex: 1 1 100%;

  &_grey-bg {
    background-color: #ececec;
  }
}
