<div class="content-wrap">
  <div class="sidebar">
    <app-sidebar></app-sidebar>
  </div>

  <div class="content" [ngClass]="{'content_grey-bg': greyBackground}">
    <router-outlet></router-outlet>
  </div>
</div>
