<div class="entity-card">
  <div class="entity-card-back" *ngIf="entity">
    <app-back-button [text]="'Back to Properties List'"></app-back-button>
  </div>

  <div class="entity-card-head" *ngIf="entity">
    <div class="entity-card-head-info">
      <div class="entity-card-head-item"><strong>System Nr.:</strong> TEN00047</div>
      <div class="entity-card-head-item"><strong>Username:</strong> Corne</div>
      <div class="entity-card-head-item"><strong>Email:</strong> corne@gmail.com</div>
    </div>
  </div>

  <form class="entity-card-form" [formGroup]="form" disabled="editMode">
    <mat-accordion [multi]="true" #accordion="matAccordion">
      <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
        <mat-expansion-panel-header>
          <mat-panel-title>Property Details</mat-panel-title>
        </mat-expansion-panel-header>

        <app-property-details
          [form]="form"
          [createFlow]="createFlow"
          (submitEvent)="submit()"
          (toggleEditModeEvent)="toggleEditMode()"
        ></app-property-details>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)">
        <mat-expansion-panel-header>
          <mat-panel-title>Property Location</mat-panel-title>
        </mat-expansion-panel-header>

        <app-property-location
          [form]="form"
          [createFlow]="createFlow"
          (submitEvent)="submit()"
          (toggleEditModeEvent)="toggleEditMode()"
        ></app-property-location>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)">
        <mat-expansion-panel-header>
          <mat-panel-title>Listing Details</mat-panel-title>
        </mat-expansion-panel-header>

        <app-listing-details
          [form]="form"
          [createFlow]="createFlow"
          (submitEvent)="submit()"
          (toggleEditModeEvent)="toggleEditMode()"
        ></app-listing-details>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)">
        <mat-expansion-panel-header>
          <mat-panel-title>Listing Features</mat-panel-title>
        </mat-expansion-panel-header>

        <app-listing-features
          [form]="form"
          [createFlow]="createFlow"
          (submitEvent)="submit()"
          (toggleEditModeEvent)="toggleEditMode()"
        ></app-listing-features>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)">
        <mat-expansion-panel-header>
          <mat-panel-title>Listing Agent Details</mat-panel-title>
        </mat-expansion-panel-header>

        <app-listing-agent
          [form]="form"
          [createFlow]="createFlow"
          (submitEvent)="submit()"
          (toggleEditModeEvent)="toggleEditMode()"
        ></app-listing-agent>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 5" (opened)="setStep(5)">
        <mat-expansion-panel-header>
          <mat-panel-title>Listing Publishing</mat-panel-title>
        </mat-expansion-panel-header>

        <app-listing-publishing
          [form]="form"
          [createFlow]="createFlow"
          (submitEvent)="submit()"
          (toggleEditModeEvent)="toggleEditMode()"
        ></app-listing-publishing>
      </mat-expansion-panel>
    </mat-accordion>
  </form>
</div>
