<ng-container *ngIf="createFlow">
  <div class="entity-card-form-body">
    <div class="entity-card-form-row">
      <mat-checkbox [checked]="true" disabled="">Prefer Printed Statement</mat-checkbox>

      <mat-form-field appearance="outline">
        <mat-label>Debit Instructions</mat-label>
        <input matInput />
      </mat-form-field>
    </div>
  </div>
  <div class="entity-card-form-footer">
    <button class="btn btn-accent" (click)="submitEvent.emit()">Save and FINISH</button>
    <button class="btn btn-accent">Add note</button>
    <button class="btn btn-primary" (click)="prevStepEvent.emit()">Previous step</button>
  </div>
</ng-container>

<ng-container *ngIf="!createFlow">
  <div class="entity-card-form-body">
    <div class="entity-card-form-row">
      <mat-form-field appearance="outline">
        <mat-label>Contract</mat-label>
        <mat-select>
          <mat-option>---</mat-option>
          <mat-option value="1">3/7 Pebble Bridge Gold Estate 123</mat-option>
          <mat-option value="2">Ms</mat-option>
          <mat-option value="3">Miss</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <table mat-table [dataSource]="tableNotesData">
      <ng-container matColumnDef="ID">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let entity">{{ entity.ID }}</td>
      </ng-container>

      <ng-container matColumnDef="Tenant">
        <th mat-header-cell *matHeaderCellDef>Tenant</th>
        <td mat-cell *matCellDef="let entity"></td>
      </ng-container>

      <ng-container matColumnDef="Subject">
        <th mat-header-cell *matHeaderCellDef>Subject</th>
        <td mat-cell *matCellDef="let entity"></td>
      </ng-container>

      <ng-container matColumnDef="Type">
        <th mat-header-cell *matHeaderCellDef>Main Type</th>
        <td mat-cell *matCellDef="let entity">{{ entity.Type }}</td>
      </ng-container>

      <ng-container matColumnDef="SubType">
        <th mat-header-cell *matHeaderCellDef>Sub Type</th>
        <td mat-cell *matCellDef="let entity">{{ entity.SubType }}</td>
      </ng-container>

      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let entity">{{ entity.Status }}</td>
      </ng-container>

      <ng-container matColumnDef="ActionDate">
        <th mat-header-cell *matHeaderCellDef>Action Date</th>
        <td mat-cell *matCellDef="let entity">{{ entity.ActionDate }}</td>
      </ng-container>

      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let entity">
          <mat-icon>chevron_right</mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="tableNotesColumns"></tr>
      <tr mat-row class="nav-row" *matRowDef="let entity; columns: tableNotesColumns"></tr>
    </table>
  </div>
</ng-container>
