<div class="entity-card-form-body" [formGroup]="form">
  <div class="entity-card-form-row">
    <mat-checkbox>Advanced Invoicing</mat-checkbox>
    <mat-checkbox>Allow Trustee Designation</mat-checkbox>
  </div>

  <div class="entity-card-form-row">
    <mat-checkbox>Agent Distribution</mat-checkbox>
    <mat-checkbox>Charge Levy</mat-checkbox>
  </div>

  <div class="entity-card-form-row">
    <mat-checkbox>Allow Interest Charging</mat-checkbox>
    <mat-checkbox>Charge Rent </mat-checkbox>
  </div>

  <div class="entity-card-form-row">
    <mat-checkbox>Credit Rent To</mat-checkbox>
    <mat-checkbox>Charge Special Levy </mat-checkbox>
  </div>

  <div class="entity-card-form-row">
    <mat-checkbox>Enable Metered Charges</mat-checkbox>
    <mat-checkbox>Isolate Properties</mat-checkbox>
  </div>

  <div class="entity-card-form-row">
    <mat-checkbox>System Batch Invoices</mat-checkbox>
    <mat-checkbox>Tenant Debit Orders</mat-checkbox>
  </div>

  <div class="entity-card-form-row">
    <mat-checkbox>VAT on Levy</mat-checkbox>
    <mat-checkbox>VAT on Rent</mat-checkbox>
  </div>
  <div class="entity-card-form-row">
    <mat-checkbox>VAT Registered</mat-checkbox>
  </div>
</div>

<div class="entity-card-form-footer">
  <ng-container *ngIf="createFlow">
    <button class="btn btn-accent" (click)="submitEvent.emit()">Save and finish</button>
  </ng-container>
  <ng-container *ngIf="!createFlow">
    <button *ngIf="form?.disabled" class="btn btn-accent" (click)="toggleEditModeEvent.emit()">
      Edit Advanced details
    </button>
    <button *ngIf="form?.enabled" class="btn btn-accent" (click)="submitEvent.emit()">
      Save Advanced details
    </button>
    <button *ngIf="form?.enabled" class="btn btn-primary" (click)="toggleEditModeEvent.emit()">
      Cancel
    </button>
  </ng-container>
</div>
