<div class="entity-card-form-body" [formGroup]="form">
  <div class="entity-card-form-row">
    <mat-form-field appearance="outline">
      <mat-label>Expiry Date</mat-label>
      <input matInput [matDatepicker]="picker" (focus)="picker.open()" readonly disabled />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Listing Date Available</mat-label>
      <input
        matInput
        [matDatepicker]="sPicker"
        (focus)="sPicker.open()"
        formControlName="DATEAVAILABLE"
        readonly
      />
      <mat-datepicker-toggle matSuffix [for]="sPicker"></mat-datepicker-toggle>
      <mat-datepicker #sPicker></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="entity-card-form-row">
    <mat-form-field appearance="outline">
      <mat-label>Deposit Comments</mat-label>
      <input matInput formControlName="ListingDepositComments" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Property Area, m2</mat-label>
      <input matInput />
    </mat-form-field>
  </div>

  <div class="entity-card-form-row">
    <mat-form-field appearance="outline">
      <mat-label>Short Description</mat-label>
      <input matInput formControlName="ShortDescription" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Building Area, m2</mat-label>
      <input matInput />
    </mat-form-field>
  </div>

  <div class="entity-card-form-row">
    <mat-form-field appearance="outline">
      <mat-label>Standard Description</mat-label>
      <input matInput formControlName="Description" />
    </mat-form-field>

    <mat-checkbox>Listing is active</mat-checkbox>
  </div>

  <div class="entity-card-form-row">
    <mat-form-field appearance="outline">
      <mat-label>Long Description</mat-label>
      <textarea matInput cdkTextareaAutosize formControlName="DetailedDescription"></textarea>
    </mat-form-field>
  </div>
</div>

<div class="entity-card-form-footer">
  <ng-container *ngIf="createFlow">
    <button class="btn btn-accent" (click)="submitEvent.emit()">Save and finish</button>
  </ng-container>
  <ng-container *ngIf="!createFlow">
    <button *ngIf="form?.disabled" class="btn btn-accent" (click)="toggleEditModeEvent.emit()">
      Edit LISTING Publishing
    </button>
    <button *ngIf="form?.enabled" class="btn btn-accent" (click)="submitEvent.emit()">
      SAVE LISTING Publishing
    </button>
    <button *ngIf="form?.enabled" class="btn btn-primary" (click)="toggleEditModeEvent.emit()">
      Cancel
    </button>
  </ng-container>
</div>
