<div class="entity-card">
  <div class="entity-card-back" *ngIf="entity">
    <app-back-button [text]="'Back to Owners List'"></app-back-button>
  </div>

  <div class="entity-card-head" *ngIf="entity">
    <div class="entity-card-head-info">
      <div class="entity-card-head-item"><strong>System Nr.:</strong> {{ entity.AdminID }}</div>
      <div class="entity-card-head-item"><strong>Username:</strong> {{ entity.Nickname }}</div>
      <div class="entity-card-head-item"><strong>Email:</strong> {{ entity.EmailAddress }}</div>
    </div>

    <button class="btn btn-basic" (click)="togglePanels()">
      <span>{{ openedAll ? "Close" : "Expand" }} all</span>
      <i class="material-icons">unfold_more</i>
    </button>
  </div>

  <form class="entity-card-form" [formGroup]="form" disabled="editMode">
    <mat-accordion [multi]="true" #accordion="matAccordion">
      <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
        <mat-expansion-panel-header>
          <mat-panel-title>Personal Details</mat-panel-title>
        </mat-expansion-panel-header>

        <app-personal-details
          [form]="form"
          [createFlow]="createFlow"
          (submitEvent)="submit()"
          (toggleEditModeEvent)="toggleEditMode()"
        ></app-personal-details>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)">
        <mat-expansion-panel-header>
          <mat-panel-title>Contact Details</mat-panel-title>
        </mat-expansion-panel-header>

        <app-contact-details
          [form]="form"
          [createFlow]="createFlow"
          (submitEvent)="submit()"
          (toggleEditModeEvent)="toggleEditMode()"
          (prevStepEvent)="prevStep()"
        ></app-contact-details>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)">
        <mat-expansion-panel-header>
          <mat-panel-title>Address Details</mat-panel-title>
        </mat-expansion-panel-header>

        <app-address-details
          [form]="form"
          [createFlow]="createFlow"
          (submitEvent)="submit()"
          (toggleEditModeEvent)="toggleEditMode()"
          (prevStepEvent)="prevStep()"
        ></app-address-details>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)">
        <mat-expansion-panel-header>
          <mat-panel-title>List of Contracts</mat-panel-title>
        </mat-expansion-panel-header>

        <app-contracts-list
          [form]="form"
          [createFlow]="createFlow"
          (submitEvent)="submit()"
          (toggleEditModeEvent)="toggleEditMode()"
          (prevStepEvent)="prevStep()"
        ></app-contracts-list>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)">
        <mat-expansion-panel-header>
          <mat-panel-title>List of Notes</mat-panel-title>
        </mat-expansion-panel-header>

        <app-notes-list
          [createFlow]="createFlow"
          (submitEvent)="submit()"
          (toggleEditModeEvent)="toggleEditMode()"
          (prevStepEvent)="prevStep()"
        ></app-notes-list>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 5" (opened)="setStep(5)">
        <mat-expansion-panel-header>
          <mat-panel-title>Advanced Owner Settings</mat-panel-title>
        </mat-expansion-panel-header>

        <app-owner-settings [createFlow]="createFlow"></app-owner-settings>
      </mat-expansion-panel>
    </mat-accordion>
  </form>
</div>
