<ng-container *ngIf="createFlow">
  <div class="entity-card-form-body">
    <div class="entity-card-form-row">
      <mat-form-field appearance="outline">
        <mat-label>ID Number</mat-label>
        <input matInput />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Bank</mat-label>
        <mat-select>
          <mat-option>---</mat-option>
          <mat-option value="1">Bank 1</mat-option>
          <mat-option value="2">Bank 2</mat-option>
          <mat-option value="3">Bank 3</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="entity-card-form-row">
      <mat-form-field appearance="outline">
        <mat-label>Employer</mat-label>
        <input matInput />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Acc Number</mat-label>
        <input matInput />
      </mat-form-field>
    </div>

    <div class="entity-card-form-row">
      <mat-form-field appearance="outline">
        <mat-label>Salary/Debit day</mat-label>
        <mat-select>
          <mat-option>---</mat-option>
          <mat-option value="1">10</mat-option>
          <mat-option value="2">20</mat-option>
          <mat-option value="3">30</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Branch Code</mat-label>
        <input matInput />
      </mat-form-field>
    </div>

    <div class="entity-card-form-row">
      <mat-form-field appearance="outline">
        <mat-label>Week before debit date</mat-label>
        <input matInput [matDatepicker]="picker" (focus)="picker.open()" readonly />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Acc Type</mat-label>
        <mat-select>
          <mat-option>---</mat-option>
          <mat-option value="1">Check/Current</mat-option>
          <mat-option value="2">20</mat-option>
          <mat-option value="3">30</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="entity-card-form-row">
      <mat-form-field appearance="outline">
        <mat-label>Cost to tenant</mat-label>
        <input matInput />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Transaction Amount</mat-label>
        <input matInput />
      </mat-form-field>
    </div>

    <div class="entity-card-form-row">
      <mat-form-field appearance="outline">
        <mat-label>Debit Fee amount</mat-label>
        <input matInput />
      </mat-form-field>
    </div>

    <div>
      <mat-checkbox>Tracking</mat-checkbox>
    </div>
    <div>
      <mat-checkbox>Bill debit fee to tenant?</mat-checkbox>
    </div>
    <div>
      <mat-checkbox>Debit order is active</mat-checkbox>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="!createFlow">
  <div class="entity-card-form-body">
    <div class="entity-card-form-row">
      <mat-form-field appearance="outline">
        <mat-label>Contract</mat-label>
        <mat-select>
          <mat-option>---</mat-option>
          <mat-option value="1">3/7 Pebble Bridge Gold Estate 123</mat-option>
          <mat-option value="2">Ms</mat-option>
          <mat-option value="3">Miss</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-checkbox>Prefer Printed Statement</mat-checkbox>
    </div>
    <div>
      <mat-checkbox>Create Invoices for rent/transactions</mat-checkbox>
    </div>
    <div>
      <mat-checkbox>Calculate VAT on rental invoices</mat-checkbox>
    </div>

    <div class="title-row">
      <h3>Debit Orders</h3>
      <button class="btn btn-accent">
        <i class="material-icons-outlined">add</i>
        <span>ADD MANDATE</span>
      </button>
    </div>

    <table mat-table [dataSource]="debitOrdersData">
      <ng-container matColumnDef="AdminID">
        <th mat-header-cell *matHeaderCellDef>Contract No</th>
        <td mat-cell *matCellDef="let entity"></td>
      </ng-container>

      <ng-container matColumnDef="Tenant">
        <th mat-header-cell *matHeaderCellDef>Tenant</th>
        <td mat-cell *matCellDef="let entity"></td>
      </ng-container>

      <ng-container matColumnDef="Amount">
        <th mat-header-cell *matHeaderCellDef>Amount</th>
        <td mat-cell *matCellDef="let entity"></td>
      </ng-container>

      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let entity"></td>
      </ng-container>

      <ng-container matColumnDef="Tracking">
        <th mat-header-cell *matHeaderCellDef>Tracking</th>
        <td mat-cell *matCellDef="let entity"></td>
      </ng-container>

      <ng-container matColumnDef="Active">
        <th mat-header-cell *matHeaderCellDef>Active</th>
        <td mat-cell *matCellDef="let entity"></td>
      </ng-container>

      <ng-container matColumnDef="DebitDate">
        <th mat-header-cell *matHeaderCellDef>Debit Date</th>
        <td mat-cell *matCellDef="let entity"></td>
      </ng-container>

      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let entity">
          <mat-icon>chevron_right</mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="debitOrdersColumns"></tr>
      <tr mat-row class="nav-row" *matRowDef="let entity; columns: debitOrdersColumns"></tr>
    </table>

    <div class="title-row">
      <h3>Agent commission</h3>
      <span>Total commission distributed: 100.00</span>
    </div>

    <table mat-table [dataSource]="agentCommissionData">
      <ng-container matColumnDef="Number">
        <th mat-header-cell *matHeaderCellDef>No</th>
        <td mat-cell *matCellDef="let entity"></td>
      </ng-container>

      <ng-container matColumnDef="Agent">
        <th mat-header-cell *matHeaderCellDef>Agent</th>
        <td mat-cell *matCellDef="let entity"></td>
      </ng-container>

      <ng-container matColumnDef="Percent">
        <th mat-header-cell *matHeaderCellDef>%</th>
        <td mat-cell *matCellDef="let entity"></td>
      </ng-container>

      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let entity"></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="agentCommissionColumns"></tr>
      <tr mat-row class="nav-row" *matRowDef="let entity; columns: agentCommissionColumns"></tr>
    </table>
  </div>
  <div class="entity-card-form-footer">
    <button class="btn btn-accent">Edit Advanced Owner Settings</button>
  </div>
</ng-container>
