<div class="entity-card-form-body" [formGroup]="form">
  <div class="entity-card-form-row">
    <mat-form-field appearance="outline">
      <mat-label>Street Name & Number</mat-label>
      <input matInput formControlName="PROPADDRESS_STREET" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Building Name</mat-label>
      <input matInput formControlName="BUILDING" />
    </mat-form-field>
  </div>

  <div class="entity-card-form-row">
    <mat-form-field appearance="outline">
      <mat-label>Unit Number</mat-label>
      <input matInput formControlName="UNITNUMBER" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Building Address</mat-label>
      <input matInput formControlName="PROPADDRESS_BUILDING" />
    </mat-form-field>
  </div>

  <div class="entity-card-form-row">
    <mat-form-field appearance="outline">
      <mat-label>Suburb</mat-label>
      <input matInput formControlName="PROPADDRESS_SUBURB" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>City/Town</mat-label>
      <input matInput formControlName="PROPADDRESS_TOWN" />
    </mat-form-field>
  </div>

  <div class="entity-card-form-row">
    <mat-form-field appearance="outline">
      <mat-label>Province</mat-label>
      <input matInput formControlName="PROPADDRESS_PROVINCE" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Postal Code</mat-label>
      <input matInput formControlName="PROPADDRESS_CODE" />
    </mat-form-field>
  </div>
</div>

<div class="entity-card-form-footer">
  <ng-container *ngIf="createFlow">
    <button class="btn btn-accent" (click)="submitEvent.emit()">
      Save and continue to Next step
    </button>
  </ng-container>
  <ng-container *ngIf="!createFlow">
    <button *ngIf="form?.disabled" class="btn btn-accent" (click)="toggleEditModeEvent.emit()">
      Edit Property details
    </button>
    <button *ngIf="form?.enabled" class="btn btn-accent" (click)="submitEvent.emit()">
      Save Property details
    </button>
    <button *ngIf="form?.enabled" class="btn btn-primary" (click)="toggleEditModeEvent.emit()">
      Cancel
    </button>
  </ng-container>
</div>
