@use '~@angular/material' as mat;
@include mat.core();

$propertysuite-frontend-primary: mat.define-palette(mat.$indigo-palette);
$propertysuite-frontend-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$propertysuite-frontend-warn: mat.define-palette(mat.$red-palette);
$propertysuite-frontend-theme: mat.define-light-theme(
  (
    color: (
      primary: $propertysuite-frontend-primary,
      accent: $propertysuite-frontend-accent,
      warn: $propertysuite-frontend-warn,
    ),
  )
);

@include mat.all-component-themes($propertysuite-frontend-theme);

@import 'variables';
@import 'base';
@import 'fonts';
@import 'buttons';
@import 'form';
@import 'table';
@import 'modals';
@import 'list-component';
@import 'item-component';
