<div class="entity-card-form-body" [formGroup]="form">
  <div class="entity-card-form-row">
    <mat-form-field appearance="outline">
      <mat-label>Email Address</mat-label>
      <input matInput formControlName="EmailAddress" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Cellphone</mat-label>
      <input matInput formControlName="MobilePHone" />
    </mat-form-field>
  </div>
  <div class="entity-card-form-row">
    <mat-form-field appearance="outline">
      <mat-label>Home Phone</mat-label>
      <input matInput formControlName="HomePhone" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Work Phone</mat-label>
      <input matInput formControlName="WorkPhone" />
    </mat-form-field>
  </div>
  <div class="entity-card-form-row">
    <mat-form-field appearance="outline">
      <mat-label>Fax</mat-label>
      <input matInput formControlName="Fax" />
    </mat-form-field>
  </div>
</div>

<div class="entity-card-form-footer">
  <ng-container *ngIf="createFlow">
    <button class="btn btn-accent" (click)="submitEvent.emit()">
      Save and continue to Next step
    </button>
    <button class="btn btn-primary" (click)="prevStepEvent.emit()">Previous step</button>
  </ng-container>
  <ng-container *ngIf="!createFlow">
    <button *ngIf="form.disabled" class="btn btn-accent" (click)="toggleEditModeEvent.emit()">
      Edit contact details
    </button>
    <button *ngIf="form.enabled" class="btn btn-accent" (click)="submitEvent.emit()">
      Save contact details
    </button>
    <button *ngIf="form.enabled" class="btn btn-primary" (click)="toggleEditModeEvent.emit()">
      Cancel
    </button>
  </ng-container>
</div>
